{% extends 'base.html.twig' %}

{% block body %}
	<h2>Give your feedback!</h2>

	{% for conference in conferences %}
		<a href="{{ path('conference', { id: conference.id }) }}">
			<h4>{{ conference }}</h4>
		</a>
	{% endfor %}
{% endblock %}
