{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<div class="py-5 text-center mt-5">
			<ul class="list-inline">
				{% for conference in conferences %}
					<li class="list-inline-item">
						<a href="{{ path('conference', { id: conference.id }) }}">
							{{ conference }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</main>
{% endblock %}
